<!DOCTYPE html>
<html lang="en">

<head>
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title>Fashe</title>
	{% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.png')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/themify/themify-icons.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='fonts/elegant-font/html-css/style.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick/slick.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/lightbox2/css/lightbox.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/notfound.css')}}">

	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>


				<div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>


				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="{{url_for('home')}}" class="logo">
					<img src="{{url_for('static',filename='images/icons/logo.png')}}" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{url_for('home')}}">Home</a>
							</li>

							<li>
								<a href="{{url_for('shop')}}">Shop</a>
							</li>

							<li>
								<a href="{{url_for('blog')}}">Blog</a>
							</li>

							<li>
								<a href="{{url_for('about')}}">About</a>
							</li>

							<li>
								<a href="{{url_for('contact')}}">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
						<div class="wrap_menu">
								<nav class="menu">
									<ul class="main_menu">
										<li>
											<img src="{{url_for('static',filename='images/icons/icon-header-01.png')}}" class="header-icon1"
											alt="ICON">
											<ul class="sub_menu">
												{% if session['user_logged_in'] %}
												<li><a href="{{url_for('userlogout')}}">Log Out</a></li>
												{% else %}
												<li><a href="{{url_for('userlogin')}}">Log In</a></li>
												<li><a href="{{url_for('userreg')}}">Sign up</a></li>
												{% endif %}

											</ul>
										</li>
										</ul>
										</nav>
										</div>
						Hello ,<br>{{session['name']}} &nbsp;&nbsp;
						

					<span class="linedivide1"></span>

					{% if 'cart' in session %}
					<div class="header-wrapicon2">
						<img src="{{url_for('static',filename='images/icons/icon-header-02.png')}}"
							class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">{{session['cart']|length}}</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">

								{% for item in session['cart'] %}

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{{url_for('static',filename='upload/'+item.product.pic1)}}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											{{item.product.name}}
										</a>

										<span class="header-cart-item-info">
											{{item.quantity}} x {{item.product.price}} PKR
										</span>
									</div>
								</li>

								{% endfor %}

							</ul>

							<div class="header-cart-total">
								{% if 'total' in session %}
								Total: {{session['total']}} PKR
								{% endif %}
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('cart')}}"
										class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
							{% else %}
							<div class="header-wrapicon2">
								<img src="{{url_for('static',filename='images/icons/icon-header-02.png')}}"
									class="header-icon1 js-show-header-dropdown" alt="ICON">
								<span class="header-icons-noti">0</span>

								<!-- Header cart noti -->
								<div class="header-cart header-dropdown">
									<ul class="header-cart-wrapitem">

										<h5 class="m-text20 p-b-24" style="text-align:center;">
											YOUR CART IS EMPTY !
										</h5>
									</ul>

									<div class="header-cart-total">
										Total: 00.00 PKR
									</div>


									{% endif %}

								</div>
							</div>
						</div>
					</div>
				</div>


		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
				<!-- Logo moblie -->
				<a href="{{url_for('home')}}" class="logo-mobile">
					<img src="{{url_for('static',filename='images/icons/logo.png')}}" alt="IMG-LOGO">
				</a>
	
				<!-- Button show menu -->
				<div class="btn-show-menu">
					<!-- Header Icon mobile -->
					<div class="header-icons-mobile">

							<div class="wrap_menu">
									<nav class="menu">
										<ul class="main_menu">
											<li>
												<img src="{{url_for('static',filename='images/icons/icon-header-01.png')}}" class="header-icon1"
												alt="ICON">
												<ul class="sub_menu">
														{% if session['user_logged_in'] %}
														<li><a href="{{url_for('userlogout')}}">Log Out</a></li>
														{% else %}
														<li><a href="{{url_for('userlogin')}}">Log In</a></li>
														<li><a href="{{url_for('userreg')}}">Sign up</a></li>
														{% endif %}
		
												</ul>
											</li>
											</ul>
											</nav>
											</div>
							Hello ,<br>{{session['name']}} &nbsp;&nbsp;
							
	
						<span class="linedivide2"></span>

							{% if 'cart' in session %}

						<div class="header-wrapicon2">
							<img src="{{url_for('static',filename='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
							<span class="header-icons-noti">{{session['cart']|length}}</span>
	
							<!-- Header cart noti -->
							<div class="header-cart header-dropdown">
								<ul class="header-cart-wrapitem">
									{% for item in session['cart'] %}
									<li class="header-cart-item">
										<div class="header-cart-item-img">
											<img src="{{url_for('static',filename='upload/'+item.product.pic1)}}" alt="IMG">
										</div>
	
										<div class="header-cart-item-txt">
											<a href="#" class="header-cart-item-name">
												{{item.product.name}}
											</a>
	
											<span class="header-cart-item-info">
												{{item.quantity}} x {{item.product.price}}
											</span>
										</div>
									</li>
									{% endfor %}
								</ul>
	
								<div class="header-cart-total">
									Total: {{session['total']}} PKR
								</div>
	
								<div class="header-cart-buttons">
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{{url_for('cart')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											View Cart
										</a>
									</div>
	
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{{url_for('cart')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Update Cart
										</a>
									</div>
								</div>
								{% else %}

									
						<div class="header-wrapicon2">
								<img src="{{url_for('static',filename='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
								<span class="header-icons-noti">0</span>
		
								<!-- Header cart noti -->
								<div class="header-cart header-dropdown">
									<ul class="header-cart-wrapitem">
											<h5 class="m-text20 p-b-24" style="text-align:center;">
													YOUR CART IS EMPTY !
												</h5>
									</ul>
		
									<div class="header-cart-total">
										Total: 00.00 PKR
									</div>
{% endif %}
							</div>
						</div>
					</div>
					


	
					<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</div>
				</div>
			</div>
								<!-- Menu Mobile -->
							<div class="wrap-side-menu">
								<nav class="side-menu">
									<ul class="main-menu">
										


										<li class="item-topbar-mobile p-l-10">
											<div class="topbar-social-mobile">
												<a href="#" class="topbar-social-item fa fa-facebook"></a>
												<a href="#" class="topbar-social-item fa fa-instagram"></a>
												<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
												<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
												<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
											</div>
										</li>

										<li class="item-menu-mobile">
											<a href="{{url_for('home')}}">Home</a>

										</li>

										<li class="item-menu-mobile">
											<a href="{{url_for('shop')}}">Shop</a>
										</li>

										<li class="item-menu-mobile">
											<a href="{{url_for('blog')}}">Blog</a>
										</li>

										<li class="item-menu-mobile">
											<a href="{{url_for('about')}}">About</a>
										</li>

										<li class="item-menu-mobile">
											<a href="{{url_for('contact')}}">Contact</a>
										</li>
									</ul>
								</nav>
							</div>
	</header>

	{% block page_content %}{% endblock %}

	<!-- Shipping -->
	
	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us
						on (+1) 96 716 6879
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="{{url_for('showcategory',category='men')}}" class="s-text7">
							Men
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('showcategory',category='women')}}" class="s-text7">
							Women
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('showcategory',category='kids')}}" class="s-text7">
							Kids
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Types
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="{{url_for('showtype',type='watches')}}" class="s-text7">
							Watches
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('showtype',type='sunglasses')}}" class="s-text7">
							Sunglasses
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('showtype',type='dresses')}}" class="s-text7">
							Dresses
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('showtype',type='wallets')}}" class="s-text7">
							Wallets
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="{{url_for('contact')}}" class="s-text7">
							Contact Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('blog')}}" class="s-text7">
							Blog
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{url_for('about')}}" class="s-text7">
							About
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email"
							placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							Subscribe
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="{{url_for('static',filename='images/icons/paypal.png')}}" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="h-size2" src="{{url_for('static',filename='images/icons/visa.png')}}" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="{{url_for('static',filename='images/icons/mastercard.png')}}"
					alt="IMG-MASTERCARD">
			</a>

			<a href="#">
				<img class="h-size2" src="{{url_for('static',filename='images/icons/express.png')}}" alt="IMG-EXPRESS">
			</a>

			<a href="#">
				<img class="h-size2" src="{{url_for('static',filename='images/icons/discover.png')}}"
					alt="IMG-DISCOVER">
			</a>

			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o"
					aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

	<div id="dropDownSelect2"></div>


	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript"
		src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/slick/slick.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/slick-custom.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript"
		src="{{url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/lightbox2/js/lightbox.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/sweetalert/sweetalert.min.js')}}"></script>

	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>


</body>

</html>