<!DOCTYPE html>
<html lang="en">
<head>
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>Fashe</title>
		{% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.png')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/themify/themify-icons.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='fonts/elegant-font/html-css/style.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick/slick.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='vendor/lightbox2/css/lightbox.min.css')}}">
		
		<link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}"
    />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/notfound.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util3.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main3.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tableutil.css')}}">

	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="{{url_for('home')}}" class="logo">
					<img src="{{url_for('static',filename='images/icons/logo.png')}}" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{url_for('admin_dashboard')}}">Dashboard</a>
							</li>

							<li>
								<a href="{{url_for('add_product')}}">Add Product</a>
							</li>

							<li>
								<a href="{{url_for('pending_orders')}}">Pending Orders</a>
							</li>

							<li>
								<a href="{{url_for('sales_record')}}">Sales Record</a>
							</li>

							<li>
								<a href="{{url_for('find_customer')}}">Find Customer</a>
							</li>
							<li>
									<a href="{{url_for('others')}}">Others</a>
								</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
						<div class="wrap_menu">
								<nav class="menu">
									<ul class="main_menu">
										<li>
											<img src="{{url_for('static',filename='images/icons/icon-header-01.png')}}" class="header-icon1"
											alt="ICON">
											<ul class="sub_menu">
												<li><a href="{{url_for('adminlogout')}}">Log Out</a></li>
											</ul>
										</li>
										</ul>
										</nav>
										</div>
						Hello ,<br>{{session['admin_name']}} &nbsp;&nbsp;	
						</div>
					</div>
				</div>


		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
				<!-- Logo moblie -->
				<a href="{{url_for('home')}}" class="logo-mobile">
					<img src="{{url_for('static',filename='images/icons/logo.png')}}" alt="IMG-LOGO">
				</a>
	
				<!-- Button show menu -->
				<div class="btn-show-menu">
					<!-- Header Icon mobile -->
					<div class="header-icons-mobile">
									<div class="wrap_menu">
									<nav class="menu">
										<ul class="main_menu">
											<li>
												<img src="{{url_for('static',filename='images/icons/icon-header-01.png')}}" class="header-icon1"
												alt="ICON">
												<ul class="sub_menu">
													<li><a href="{{url_for('adminlogout')}}">Log Out</a></li>
												</ul>
											</li>
											</ul>
											</nav>
											</div>
							Hello ,<br>{{session['admin_name']}} &nbsp;&nbsp;
							
	
						
					</div>
					


	
					<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</div>
				</div>
			</div>
								<!-- Menu Mobile -->
							<div class="wrap-side-menu">
								<nav class="side-menu">
									<ul class="main-menu">
										<li class="item-topbar-mobile p-l-10">
											<div class="topbar-social-mobile">
												<a href="#" class="topbar-social-item fa fa-facebook"></a>
												<a href="#" class="topbar-social-item fa fa-instagram"></a>
												<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
												<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
												<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
											</div>
										</li>

										<li class='item-menu-mobile'>
												<a href="{{url_for('admin_dashboard')}}">Dashboard</a>
											</li>
				
											<li class='item-menu-mobile'>
												<a href="{{url_for('add_product')}}">Add Product</a>
											</li>
				
											<li class='item-menu-mobile'>
												<a href="{{url_for('pending_orders')}}">Pending Orders</a>
											</li>
				
											<li class='item-menu-mobile'>
												<a href="{{url_for('sales_record')}}">Sales Record</a>
											</li>
				
											<li class='item-menu-mobile' >
												<a href="{{url_for('find_customer')}}">Find Customer</a>
											</li>
											<li class='item-menu-mobile'>
													<a href="{{url_for('others')}}">Others</a>
												</li>
									</ul>
								</nav>
							</div>
	</header>

	{% block page_content %}{% endblock %}




	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

	<div id="dropDownSelect2"></div>


	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript"
		src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/slick/slick.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/slick-custom.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript"
		src="{{url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/lightbox2/js/lightbox.min.js')}}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/sweetalert/sweetalert.min.js')}}"></script>

	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
	<script src="{{url_for('static',filename='js/table.js')}}"></script>

	<script src="{{url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script>
      $(".js-pscroll").each(function() {
        var ps = new PerfectScrollbar(this);

        $(window).on("resize", function() {
          ps.update();
        });
      });
    </script>


</body>

</html>